<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&family=Rubik:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
    <title>Chuck Norris Api Consumer</title>
</head>
<body>
    <header class="flex flex-center justify-space-between">
        <img src="{% static 'home/images/chuck_logo.png' %}" class="logo">
        <p>Chuck Norris Api Consumer</p>
    </header>

    <section class="section">
        <h3>Categories: Click to reveal content</h3>
        {% for category in categories %}
        <div class="card category-card">
            <div class="flex flex-center justify-space-between category" onclick="getContent('{{category}}')">
                <p>{{category}}</p>
                <i class="fas fa-angle-down"></i>
            </div>
        </div>
        <div class="category-content" id="{{category}}-contentContainer"></div>
        {% endfor %}
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'home/js/home.js' %}"></script>
</body>
</html>